*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  color: #999; }

a {
  color: #f38181;
  text-decoration: none;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    color: #ef5252;
    outline: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #333; }

h1 {
  font-size: 150px; }

h2 {
  font-size: 30px; }

h3 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400; }

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box; }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box; }

[class*='col'] {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.col-auto {
  width: auto; }

.col-expand {
  flex: 1;
  min-width: 1px; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media (min-width: 640px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media (min-width: 960px) {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
@media (min-width: 1600px) {
  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 0;
  transition: color, background-color, border-color .2s ease-in-out;
  cursor: pointer;
  overflow: visible;
  user-select: none;
  -webkit-appearance: none;
  /* Elements */
  /* Modifiers theme */ }
  .btn:focus {
    outline: none; }
  .btn_theme_default {
    color: #95e1d3;
    background-color: transparent;
    border-color: #95e1d3; }
    .btn_theme_default:hover {
      color: #6dd6c3;
      border-color: #6dd6c3; }
  .btn_theme_inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
    .btn_theme_inverse:hover {
      color: #e6e6e6;
      border-color: #e6e6e6; }

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box; }

/*# sourceMappingURL=styles.css.map */
